html {
  background-color: #8E5ADB;
}

html, body {
  height: 100%;

  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  text-align: justify;
}

.App {
  padding: 50px 50px 20px 50px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}


/*MsgBox*/
.text-box {
  /*Placeholder box;
    TODO: Replace with actual SVG of message.
  */
  background-color: #FFFB82;
  border: 5px solid #000000;
  box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.message-box {
  padding: 10px 20px 60px 20px;
}

#landing-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*ContactBox*/
.contact-box {
  display: flex;
  flex-direction: row;
}

.contact-item {
  margin: 10px 20px;
}

/*Desktop profile image*/
.desktop-profile {
  width: calc(10vw + 200px);
}